{% extends "store/base.html" %}

{% block title %}Order Summary{% endblock %}

{% block body %}
  <div class="container">
    <h1>Order Summary</h1>
    <p>Order ID: {{ order.id }}</p>
    <p>Total Amount: ${{ order.total_amount }}</p>
    <p>Items:</p>
    <ul>
      {% for item in order.items.all %}
        <li>{{ item.book.title }} (x{{ item.quantity }}) - ${{ item.price }}</li>
      {% endfor %}
    </ul>
    <a href="{% url 'complete-order' order.id %}" class="btn btn-success">Complete Order</a>
  </div>
{% endblock %}
